.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: medium;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  text-align: center;
  font-size: medium;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
