@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Anybody", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: larger !important;
  font-weight: 300 !important;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.svg-inline--fa {
  cursor: pointer;
}

.btn,
input {
  border-radius: 0 !important;
}
